{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}
        <button type="button" class="btn btn-close" onClick="deleteNote({{ note.id }})"></button></li>
    {% endfor %}
</ul>
<form method="POST">
    <h3 align="center">Note</h3>
    <div class="mb-3">
        <label for="Note" class="form-label">Add Note</label>
        <input type="text" class="form-control" id="note" name="note" aria-describedby="email">
    </div>
    <button type="submit" class="btn btn-primary">+</button>
</form>
{% endblock %}